---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero amet odio
    esse incidunt quas, tempora fuga aspernatur. Nam, in facere! Minus nisi
    asperiores dolor velit eum corporis voluptas, voluptate assumenda!
  </p>
</Layout>

<style></style>
