---
import Layout from "../layouts/Layout.astro";
---

<Layout title="test_1">
  <h2>Title</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nam
    consectetur distinctio vel amet delectus magni tempore in sint rerum minima
    corporis suscipit sit est, ratione nemo. Officiis, molestiae in.
  </p>
</Layout>
